<table class="table table-bordered table-sm mt-2">
  <thead>
    <tr>
      <th>Select</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Amount</th>
      <th>Budget Item No</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>
<form class="mb-2">
  <input type="text" id="Description" placeholder="Description">
  <input type="text" id="Quantity" placeholder="Quantity">
  <input type="text" id="UnitPrice" placeholder="Unit Price">
  <input type="text" id="Amount" placeholder="Amount">
  <input type="text" id="BudgetItemNo" placeholder="Budget Item No">
  <input type="button" class="add-row" value="Add Row">
</form>
<button type="button" class="delete-row">Delete Row</button>
